// Colors
$color-primary: #ffe600;
$color-secondary: #3483fa;
$color-gray-dark: #333333;
$color-gray-medium: #666666;
$color-gray-light: #999999;
$color-gray-background: #eeeeee;
$color-white: #fafafa;

//Spacing
$space-4: 0.25rem; // 4px
$space-8: 0.5rem; // 8px
$space-12: 0.75rem; // 12px
$space-16: 1rem; // 16px
$space-20: 1.25rem; // 20px
$space-24: 1.5rem; // 24px
$space-32: 2rem; // 32px
$space-40: 2.5rem; // 40px
$space-48: 3rem; // 48px

//Misc
$max-width: 1200px;
$grid-columns-mobile: 6;
$grid-columns-desktop: 12;
$max-height: calc(100vh - 60px);

// Media Queries
@mixin is-desktop {
  @media (min-width: 768px) {
    @content;
  }
}
