@use "@styles/theme.scss" as theme;

.container_area {
    width: 100%;
}

.container_secondary {
  display: flex;
  gap: theme.space(xxl);
  width: 100%;
}

.items_images_area {
  max-width: 680px;
  width: 100%;
}

.product_info_area {
  width: 100%;
}

.product_description_area {
  width: 100%;
}
