@use "@styles/theme.scss" as *;

.container {
  background: $color-white;
  display: grid;
  padding: $space-32;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: $space-12;
  grid-template-areas:
    "image_area"
    "info_area"
    "description_area";

  @include is-desktop {
    border-radius: $space-4;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "image_area image_area image_area image_area info_area info_area"
      "description_area description_area description_area description_area . .";
  }
}

.image_area {
  grid-area: image_area;
}

.info_area {
  grid-area: info_area;
}

.description_area {
  grid-area: description_area;
}
