@use "sass:map";

// Colors
$colors: (
  primary: #ffe600,
  secondary: #3483fa,
  gray: (
    dark: #333333,
    medium: #666666,
    light: #999999,
    background: #eeeeee,
  ),
  white: #fafafa,
);

//Color Helper
@function color($key, $subkey: null) {
  @if $subkey {
    @return map.get(map.get($colors, $key), $subkey);
  }
  @return map.get($colors, $key);
}

// Spacing
$spacing: (
  xs: 4px,
  sm: 8px,
  md: 12px,
  lg: 16px,
  xl: 24px,
  xxl: 32px,
  xxxl: 48px,
);

//Spacing Helper
@function space($key) {
  @return map.get($spacing, $key);
}

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$max-width: 1200px;
$breakpoint-desktop: 768px;
$grid-columns-mobile: 6;
$grid-columns-desktop: 12;





