// Colors
$colors: (
  primary: #ffe600,
  secondary: #3483fa,
  gray: (
    dark: #333333,
    medium: #666666,
    light: #999999,
    background: #eeeeee,
  ),
  white: #fafafa,
);

//Color Helper
@function color($key) {
  @return map-get($colors, $key);
}

// Spacing
$spacing: (
  xs: 4px,
  sm: 8px,
  md: 12px,
  lg: 16px,
  xl: 24px,
  xxl: 32px,
  xxxl: 48px,
);

//Spacing Helper
@function space($key) {
  @return map-get($spacing, $key);
}
