@use "@styles/theme.scss" as *;

.breadcrumb {
  margin: $space-16;

  @include is-desktop {
    margin: $space-16 0;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: $space-8;

    @include is-desktop {
      flex-direction: row;
      align-items: center;
      gap: 0;
    }
  }

  .item {
    display: flex;
    align-items: center;
    font-size: 14px;

    &:last-child {
      font-weight: bold;
      color: $color-gray-light;
    }
  }

  .separator {
    color: $color-gray-light;
    margin: 0 $space-4;
  }

  .text {
    color: $color-gray-light;
  }
}
