@use "@styles/theme.scss" as theme;

.breadcrumb {
  margin: theme.space(xxl) theme.space(lg);

  @include theme.desktop {
    margin: theme.space(lg) 0;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: theme.space(sm);

    @include theme.desktop {
      flex-direction: row;
      align-items: center;
      gap: 0;
    }
  }

  .item {
    display: flex;
    align-items: center;
    font-size: 14px;

    &:last-child {
      font-weight: bold;
      color: theme.color(gray, light);
    }
  }

  .separator {
    color: theme.color(gray, light);
    margin: 0 theme.space(xs);
  }

  .text {
    color: theme.color(gray, light);
  }
}
