@use "@styles/theme.scss" as *;

.no_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $space-12;
  height: $max-height;
  width: 100%;
  padding: $space-16;

  img {
    max-width: 200px;
  }

  p {
    font-size: 20px;
    color: $color-gray-dark;
  }
}
